# Works in Python 3.11.6 March 2024
#------------------------------------

PySide6
loguru
pyyaml
sqlite-utils
matplotlib
pyvis
appdirs

# ---------------
# local pyvis stuff
# ---------------
Jinja2>=2.10
networkx>=1.11
jsonpickle>=1.4.1
# pyqtwebengine (for now we're launching in browser)
# ----------------

# dev
black
# ruff
plumbum